@page
@model ConfirmEmailModel
@{ ViewData["Title"] = "Спасибо, электронная почта подтверждена"; }

<h1>@ViewData["Title"]</h1>
<br />
<h2>@Model.StatusMessage</h2>
<br />
<h2><a href="/">Перейти на карту</a></h2>