td:nth-child(1), th:nth-child(1) { min-width: 2vw; max-width: 2vw; }
td:nth-child(2), th:nth-child(2) { min-width: 16vw; max-width: 16vw; }
th:nth-child(3) { min-width: 21vw; max-width: 21vw; }
td:nth-child(3) { min-width: 11vw; max-width: 11vw; }
td:nth-child(4) { min-width: 10vw; max-width: 10vw; word-break: break-word;}
td:nth-child(5), th:nth-child(4) { min-width: 34vw; max-width: 34vw;}
td:nth-child(6), th:nth-child(5) { min-width:12vw; max-width: 12vw; }
td:nth-child(7), th:nth-child(6) { min-width: 12vw; max-width: 12vw;}


.AdminUserRow{
background-color:rgba(0, 155, 0, .1) ;
}
.ModerUserRow
{
  background-color:rgba(155, 155, 0, .1) ;
}
.BanUserRow
{
  background-color:rgba(155, 0, 0, .2) ;
}