/* Nav Buttons part START */
.MainButtonsContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 1%;
}
.AdminMenuButton, .AdminMenuButtonActive
{
  margin: 0;
  width: 100%;
  border-radius: 13px;
  min-width: 12vw;
  padding: 0.3vw 0;
  pointer-events: all;
  background-color: rgba(255, 183, 187,1);
  border-width: 0.3vw;
  border-style: solid;
  border-color: rgba(255, 102, 114, 1);
  text-transform: uppercase;
  color: black;
}
.AdminMenuButtonActive
{
  color: white;
  background-color: rgba(255, 102, 114, 1);
  border-color: rgba(255, 183, 187,1);
}
.AdminMenuButton:hover
{
  background-color: white;
  color: rgba(255, 102, 114, 1);
  color: black;
}
.AdminMenuDropDownButton, .AdminMenuDropDownButtonActive
{
  margin: 0;
  width: 100%;
  border-radius: 13px;
  pointer-events: all;
  background-color: rgba(255, 183, 187,1);
  border-width: 0.3vw 0.3vw 0.3vw 0;
  border-left: 0;
  border-style: solid;
  border-color: rgba(255, 102, 114, 1);
  text-transform: uppercase;
  color: black;
}
.AdminMenuDropDownButtonActive
{
  color: white;
  background-color: rgba(255, 102, 114, 1);
  border-color: rgba(255, 183, 187,1);
}
.AdminMenuDropDownItem
{
  text-transform: uppercase;
  cursor:pointer;
}
/* Ссылки, в которые обёрнуты кнопки */
.ExportPanel
{
width: 90%;
margin: auto;
}
.ExportButtons, .ExportSubButtons, .ExportDropdownButtons, .ExportButtonsWithProgress
{
  margin: 0.5vw 1vw;
  border-radius: 13px;
  min-width: 12vw;
  padding: 0.5vw 2vw;
  pointer-events: all;
  font-size: 1vw;
}
.ExportButtonsWithProgress
{
  width: 100%;
  padding: 0;
  margin: 0.5vw 1vw 0 1vw;
}
.ExportProgress
{
  margin: 0vw 1vw 0.5vw 1vw;
  border-radius: 13px;
  width: 100%;
}
.ExportDropMainButton
{
  text-transform: uppercase;
  cursor:pointer;
  padding: 0;
}
.ExportButtonsPanel
{
  width: 100%;
  justify-content: center;
  margin-bottom: 1vh;
}
.ExportButtons
{
  width:100%;
}
.ExportDropdownButtons
{
  margin: 0;
}
.ExportSubButtons
{ 
  padding: 0.7vw 1.5vw;
  text-transform: uppercase;
}
.Link_AdminMenu
{text-decoration: none;
  margin: 0 0 0 0.5vw ;
  border-radius: 0 0 20px 20px;
}
.ExportBut_AdminMenu
{
  margin: 0 0.5vw 0 0 ;
  padding: 0;
  border-radius: 20px 20px 0 0;
}
.progress_span
{
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}
/* Nav Buttons part END */
/*Search Form START*/
.SearchButton
{
  z-index: 50;
  position: absolute;
  border-radius: 50%;
  left: 2.5vw;
  height: 2.5vw;
  width: 2.5vw;
  background-image: url("../../Images/magnifying-glassLeft.png");
  background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
.SearchButton:hover
{
  filter: invert();
}
.SearchFormRow
{
  font-size: 0.8vw;
}
.SearchFormLabel
{
  /* font-size: 0.8vw; */
}
/*Search Form END*/
/* Body part START */

.AdminMainContainer
{
  min-height: 100%;
position: relative;
}
.AdminTableContainer
{
  height: 84vh;
    display: block;
}
.UsersDBStyle
{
  max-width: 100%;
    width:100%;
    font-size: 0.8vw;
    table-layout: fixed;
    height: 100%;
}
.RecordControls
{
  display: none;
  padding-bottom: 1vh;
}
.AdminTableHeader
{
  display: block;
  /* height: 8%; */
}
.AdminTableBody
{
display: block;
overflow-x: hidden;
overflow-y: scroll;
/* height:72vh; */
height: 93%;
}

.TableCell, .SubTableCell, .DeleteButtonTableCell, .TableCellMidleTextalign
{
    padding: 0 0.3vw;
    border: solid 1px;
    margin-bottom: 1vh;
    text-align: left;
    vertical-align: middle;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.TableCellMidleTextalign
{
    text-align: center;
}
.TableHeader
{
text-align: center;
border: solid 1px;
padding: 0!important;
}
.UserAvatar 
{
  /* cursor: zoom-in; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 5vw;
    height: 5vw;
    margin: auto;
}
.UserAvatarZoomed
{
  background-size: contain;
  background-position: center;
    background-repeat: no-repeat;
  width: 100vw;
    height: 100vh;
position: fixed;
z-index: 50;
margin: auto;
left: 0;
right: 0;
top: 0;
bottom: 0;
cursor: zoom-out;
}
.TaskLinkButton
{
  font-size: 0.7vw;
}
.DeleteButtonTableCell
{
    text-align: center;
}
.btn, .dropdown-item
{
  font-size: 0.8vw;
}
.IdSubcell
{
    font-size:0.6vw;
}
.ChangeRoleButton
{
    font-size: 0.8vw;
}
.DeleteUserButton
{
    font-size: 0.8vw;
    width: auto;
    height: 5vh;
    border-radius: 10px;
}
/* Body part END */

/* Sorting part START */

.SortUpDownIconsContainer
{
    width: 10%;
}
.sortIconUp, .sortIconDown
{
    background-image: url('../../Images/SortUp.png');
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    width: 0.6vw;
    height: 1vw;
    display: block;
    opacity: 0.5;
}
.sortIconDown
{
    background-image: url('../../Images/SortDown.png');
}
/* Sorting part END */

/* Task Report Gallery part START */

.TaskGallery
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.TaskGalleryElement
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
    margin: 0.25vw;
}
.TaskGalleryMedia
{
  border: 1px solid orange;
  height: 11vw;
  width: 18vw;
  position: relative;
}

.TaskImage, .TaskVideo, .TaskPdf
{
  width: 100%;
  height: 100%;
  background-size: 18%;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}
.PdfOpenLink
{
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(255,255,255,.5);
}
.TaskImage
{
  background-size: contain;
  cursor: zoom-in;
}
.TaskVideo
{
  cursor: default;
}
.TaskImageZoomed
{
  /* background-size: 70%; */
  background-size: contain;
  background-position: center;
    background-repeat: no-repeat;
  /* width: 100vw;
    height: 100vh; */
position: fixed;
z-index: 50;
margin: auto;
left: 4vw;
right: 4vw;
top: 4vw;
bottom: 4vw;
cursor: zoom-out;
}
.PdfZoom
{
  cursor: pointer;
  position: absolute;
  top: 1vw;
  left: 2vw;
  width: 2vw;
  height: 2vw;
  z-index:99;
  background-color: white;
}
/* Task Report Gallery  part END */