td:nth-child(1), th:nth-child(1) { min-width: 2vw; max-width: 2vw; }
td:nth-child(2), th:nth-child(2) { min-width: 6vw; max-width: 6vw; }
td:nth-child(3), th:nth-child(3) { min-width: 5vw; max-width: 5vw; }
td:nth-child(4), th:nth-child(4) { min-width: 9vw; max-width: 9vw;}
td:nth-child(5), th:nth-child(5) { min-width: 6vw; max-width: 6vw;}
td:nth-child(6), th:nth-child(6) { min-width: 16vw; max-width: 16vw; word-break: break-all;}
td:nth-child(7), th:nth-child(7) { min-width:20vw; max-width: 20vw;}
td:nth-child(8), th:nth-child(8) { min-width: 3vw; max-width: 3vw;}
td:nth-child(9), th:nth-child(9) { min-width:4vw; max-width: 4vw; word-break: break-all;}
td:nth-child(10), th:nth-child(10) { min-width: 4vw; max-width: 4vw;}
td:nth-child(11), th:nth-child(11) { min-width: 4vw; max-width: 4vw;}
td:nth-child(12), th:nth-child(12) { min-width: 4vw; max-width: 4vw;}
td:nth-child(13), th:nth-child(13) { min-width: 4vw; max-width: 4vw;}
td:nth-child(14), th:nth-child(14) { min-width: 4vw; max-width: 4vw;}
td:nth-child(15), th:nth-child(15) { min-width: 6vw; max-width: 6vw;}
.AdminUserRow{
background-color:rgba(0, 155, 0, .1) ;
}
.ModerUserRow
{
  background-color:rgba(155, 155, 0, .1) ;
}
.BanUserRow
{
  background-color:rgba(155, 0, 0, .2) ;
}
#selectable .ui-selecting { background: #ffb7bb; }
#selectable .ui-selected { background: #ffb7bb;  color:black; }
