main 
{
  background-image: url('../../Images/TextPageBackgound.png');
  background-size: cover;
  /* height:auto; */
  min-height: 100%;
}
/* Nav Buttons part START */
.MyTasksMenuButtonsContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 1vh 0;
    font-size: 1.25vw;
    pointer-events: none;
}
.MyTasksMenuButton, .MyTasksMenuButtonActive
{
  margin: 0;
  width: 100%;
  border-radius: 13px;
  min-width: 12vw;
  padding: 0.8vw 2vw;
  pointer-events: all;
  background-color: rgba(255, 183, 187,1);
  border-width: 0.3vw;
  border-style: solid;
  border-color: rgba(255, 102, 114, 1);
  text-transform: uppercase;
  color: black;
}
.MyTasksMenuButtonActive
{
  color: white;
  background-color: rgba(255, 102, 114, 1);
  border-color: rgba(255, 183, 187,1);
}
.MyTasksMenuButton:hover, .MyTasksMenuButtonActive:hover
{
  background-color: white;
  color: rgba(255, 102, 114, 1);
  color: black;
}


/* Ссылки, в которые обёрнуты кнопки */
.Link_MyTaskMenu
{text-decoration: none;
  margin: 0 0.5vw;
}

/* Nav Buttons part END */

/* Task Element part START */
.TaskView
{
  text-decoration: none;
  outline: none;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  position: relative;
}
.TaskView:hover
{
  background-color: rgba(47,81,255,0.3);
  text-decoration: none;
}
.TaskInfo
{
  min-height: 10vw;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  color: black;
  text-align: left;
}
.InfoBlock, .NameAvatarDiv
{
    display: flex;
flex-flow: column;
align-items: center;
margin-bottom: 1vh;
}
.ContactLink
{
    width:100%;
}
.UserMyTasksAvatar
{
  margin-right: 1vw;
  border-radius: 5px;
  width: 10vw;
  height: 10vw;
  min-width: 10vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.UserMyTasksTaskViewAvatar
{
    margin: 0;
}
.TaskDescriptionMyTasks
{
    border-bottom:1px solid;
    white-space: pre-line;
}

/* Task Element part END */


/* Task View page part START */

.MyTaskPanelButton
{
  margin: 0;
  border-radius: 13px;
  min-width: 12vw;
  padding: 0.8vw 2vw;
  pointer-events: all;
  white-space: pre-line;
  background-color: rgba(255, 183, 187,1);
  border-width: 0.3vw;
  border-style: solid;
  border-color: rgba(255, 102, 114, 1);
  text-transform: uppercase;
  color: black;
}
.MyTaskBottomPanel
{
  justify-content: center;
  margin-bottom: 2vh;
}
.MyTaskInfoButton, .MyTaskInfoSingleButton,  .MyTaskBottomButton, .SberMyTasksButton
{
  border-radius: 13px;
  min-width: 12vw;
  padding: 0.8vw 2vw;
  pointer-events: all;
  white-space: pre-line;
  text-transform: uppercase;
  border-width: 0.3vw;
  border-style: solid;
  margin: 0vw 2vw;
}
.MyTaskInfoSingleButton
{
  margin:0;
}
.SberMyTasksButton
{
   min-width: 17vw;
margin-left: auto;
  background-color: rgba(33, 159, 56, 1);
  border-width: 0.3vw;
  border-style: solid;
  border-color: rgba(33, 159, 56, 1);
  background-image: url('../../Images/SberTakeTaskButton.png');
  background-repeat: no-repeat;
  background-position:center;
  background-size: contain;
}
.SberMyTasksButton:hover
{
  background-color: rgba(18, 144, 39, 1);
  border-color: rgba(18, 144, 39, 1);
}
.MyTaskRouteButton, .MyTaskSaveUserCommentButton
{
  margin: 0;
  border-radius: 13px;
  min-width: 12vw;
  padding: 0.8vw 2vw;
  pointer-events: all;
  white-space: pre-line;
  text-transform: uppercase;
  border-width: 0.3vw;
  border-style: solid;
  border-color: rgba(255, 102, 114, 1);
}
.MyTaskPanelButton:hover
{
  text-decoration: none;
  background-color: white;
  color: rgba(255, 102, 114, 1);
}
.TaskGalleryForm
{

}
.TaskGallery
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.TaskGalleryElement
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
    margin: 0.25vw;
}
.TaskGalleryMedia
{
  border: 1px solid rgba(255, 102, 114, 1);
  height: 13vw;
  width: 20vw;
  position: relative;
}

.TaskGalleryButton
{
  margin: 0;
  border-radius: 13px;
  width: 100%;
  min-width: 20vw;
  padding: 0.8vw 2vw 0.8vw 2vw;
  pointer-events: all;
  cursor: pointer;
border: 1px solid rgba(255, 102, 114, 1);
text-align: center;
}
.TaskGalleryButton:hover
{
  text-decoration: none;
  background-color: rgba(255, 102, 114, 1);
}
.inputFile
{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.TaskAddImageIcon, .TaskImage, .TaskImageZoomed, .TaskVideo, .TaskPdf
{
  width: 100%;
  height: 100%;
  background-size: 18%;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}
.TaskAddImageIcon:hover ~ .TaskGalleryButton
{
  background-color: rgba(255, 102, 114, 1);
  border-color: lightgray;
}
.TaskImage
{
  background-size: contain;
  cursor: zoom-in;
}
.TaskVideo
{
  cursor: default;
}
.PdfOpenLink
{
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(255,255,255,.5);
}
.UserAvatar
{
  margin-right: 1vw;
  border-radius: 5px;
  width: 10vw;
  height: 10vw;
  min-width: 10vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: zoom-in;
}
.TaskImageZoomed, .UserAvatarZoomed
{
    /* background-size: 70%; */
    background-size: contain;
    background-position: center;
      background-repeat: no-repeat;
    /* width: 100vw;
      height: 100vh; */
  position: fixed;
  z-index: 50;
  margin: auto;
  left: 4vw;
  right: 4vw;
  top: 4vw;
  bottom: 4vw;
  cursor: zoom-out;
}
.PdfZoom
{
  cursor: pointer;
  position: absolute;
  top: 1vw;
  left: 2vw;
  width: 2vw;
  height: 2vw;
  z-index:99;
  background-color: white;
}
.TaskinputDeleteFileLabel, .TaskinputAddFileLabel
{
  cursor: pointer;
  text-align: center;
  color: black;
  text-decoration: none;
  margin-bottom: 0;
}
.TaskinputAddFileLabel:hover
{
  color: #005caf;
  text-decoration: underline #005caf;
}
.TaskViewLabel, .PromoLabel, .PromoText
{
  font-size: 1.2rem;
}
.MyTasksAdress, .ContactLink, .TaskViewName
{
  font-size: 1.2rem;
}
.PromoLabel, .PromoText
{
  width: 45%;
  display: inline-block;
}
.PromoLabel
{text-align: right;
  padding: 0 0 0 0;
  cursor:pointer; 
  outline: none; 
}
.PromoText
{text-align: center;
}
.TaskViewFormLabelSmall
{
  user-select: none;
  width:100%;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.ModalSberButton, .ModalSberCancelButton
{
  margin: 0;
  width: 100%;
  border-radius: 13px;
  min-width: 12vw;
  padding: 0.8vw 2vw;
  pointer-events: all;
  text-transform: uppercase;
}
.ModalSberButton
{
  background-color: rgba(33, 159, 56, 1);
  border-color: rgba(33, 159, 56, 1);
}
.ModalSberButton:hover
{
  background-color: rgba(18, 144, 39, 1);
  border-color: rgba(18, 144, 39, 1);
}
/* Task View page part END */

/* Refuse task reason START */

.CustomReasonTextField
{

}
.ReasonLabel
{
  font-size: 1.2rem;
  text-align:left;
}

/* Refuse task reason END */
@media screen and (max-width:800px){
     /* Nav Buttons part START */
     .MyTasksMenuButton, .MyTasksMenuButtonActive
     {
       padding: 2vw 2vw;
     }

/* Nav Buttons part END */

/* Task Element part START */

.UserMyTasksAvatar
{
  width: 20vw;
  height: 20vw;
  min-width: 19vw;
}
.SberMyTasksButton {
  border-radius: 9px;
  min-width: 25vw;
}
.alert {
  padding: 0;
}
/* Task Element part END */


/* Task View page part START */
.PdfOpenLink
{
  /* display: block; */
}
.MyTaskPanelButton, .ModalSberButton
{
  padding: 1.5vw 2vw;
}
.UserAvatar
{
  width: 20vw;
  height: 20vw;
}
.MyTaskPanelButton
{
  padding: 2vw 2vw;
}
.MyTaskInfoButton, .MyTaskInfoSingleButton,  .MyTaskBottomButton, .SberMyTasksButton
{
  padding: 3vw 2vw;
  margin-bottom: 3vh;
}
.row
{
width:100%;
margin: auto;
}
.MyTaskRouteButton, .MyTaskSaveUserCommentButton, .TaskGalleryButton
{
  padding: 3vw 2vw;
}
.NameAvatarDiv
{
flex-flow: row;    
justify-content: center;
}

.MyTasksTaskEditLabel
{
    display: none;
}
.TaskGalleryForm
{
  width:100%;
}
.TaskGalleryMedia {
    height: 51vw;
    width: 90vw;
}
.TaskAddImageIcon, .TaskImage, .TaskImageZoomed, .TaskVideo, .TaskPdf
{
  width: 100%;
  height: 100%;
  background-size: 18%;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}
.TaskImage
{
  background-size: contain;
  cursor: initial;
}
.TaskImageZoomed
{
    background-size: contain;
    background-position: center;
    width: 100%;
  height: 100%;
  position: initial;
  cursor: initial;
}
.TaskViewLabel, .PromoLabel, .PromoText
{
  font-size: 1.2rem;
}
.TaskViewFormLabelSmall
{
  font-size: .9rem;
}
.MyTasksAdress, .ContactLink, .TaskViewName
{
    padding: .4vh .7vh;
    font-size: 1.3rem;
}
/* Task View page part END */
  
    
    }
    @media screen and (max-width:480px){
     
    /* Nav Buttons part START */
   
.MyTasksMenuButtonsContainer
{
    /* flex-flow: column; */
}
.Link_MyTaskMenu {
    margin: 1vh 0.5vw;
}
.MyTasksMenuButton, .MyTasksMenuButtonActive {
  font-size: 0.8rem;
}
/* Nav Buttons part END */

/* Task Element part START */

.SberMyTasksButton {
  margin-right: auto;
}
.TaskInfo
{
  margin-right: 1vw;
}
.TaskDescriptionMyTasks
{
    max-height: 11vh;
    overflow:hidden;
    text-overflow: ellipsis;
}
.UserMyTasksAvatar
{
  min-width: 12vw;
  display: none;
}
/* Task Element part END */


/* Task View page part START */
.InfoBlock, .NameAvatarDiv {
  margin-bottom: 0;
}
.MyTaskInfoButton, .MyTaskInfoSingleButton,  .MyTaskBottomButton, .SberMyTasksButton
{
  padding: 3vw 2vw;
  margin: 1vw 0;
}
.MyTaskRouteButton, .MyTaskSaveUserCommentButton, .TaskGalleryButton
{
  padding: 3vw 2vw;
}
.MyTaskRouteButton
{margin-bottom: 1vh;}
.ModalSberButton
{
  padding: 3vw 2vw;
}
.TaskViewLabel, .PromoLabel, .PromoText
{
  font-size: 1rem;
}
.TaskViewFormLabelSmall
{
  font-size: .7rem;
}
.MyTasksAdress, .ContactLink, .TaskViewName
{
    padding: 0.5vh 1.7vh;
    font-size: 1rem;
}
.PromoLabel
{
      padding: 0 2vw 0 0;
}
/* Task View page part END */
    
    
    }