.MainPanel
{
     min-height: 100%;
      width: 100%;
      background-color:white;
      position: relative;
      background-image: url('../../Images/TextPageBackgound.png');
      background-size: cover;
}
.MainHeader
{
    color: white;
    z-index: 1;
    background-color: rgba(255, 183, 187,1);
    width: 100%;
    padding: 4px 5.5vw;
    font-size: 1.4vw;
    text-align: left;
}
.NYTakeTaskButton
{
  border-radius: 13px;
  min-width: 12vw;
  padding: 0.8vw 2vw;
  pointer-events: all;
  white-space: pre-line;
  text-transform: uppercase;
  border-width: 0.3vw;
  border-style: solid;
  margin: 0vw 2vw;

   min-width: 17vw;
margin-left: auto;
background-color: rgba(255, 183, 187,1);
  border-width: 0.3vw;
  border-style: solid;
  border-color: rgba(255, 102, 114, 1);
 
}
.TextDiv
{
    padding: 0 5.5vw 0 5.5vw;
    display: block;
   font-weight: 300;
   font-size: 1.4vw;
   text-align: left;
   color: black;
   user-select: none;
}
.TextHeader
{
    width: fit-content;
    height: auto;
    display: block;
    border:3px solid rgba(255, 183, 187,1);
    border-radius: 13px;
    margin: 4vh 0 2vh 0;
    padding: 0.5vh 0.5vw;
}
.Disclaimer
{
    display: block;
    border-radius: 13px;
   font-size: 1.4vw;
   text-align: left;
   color: black;
   user-select: none;
   background-color: rgba(255, 183, 187,1);
   padding: 0.5vh 1vw;
   margin: 4vh 4.5vw;

}
.DisclaimerPart
{
    margin:0 0 2vh 0;
}
.TaskView
{
  text-decoration: none;
  outline: none;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  position: relative;
}
.TaskView:hover
{
  background-color: rgba(47,81,255,0.3);
  text-decoration: none;
}
.UserMyTasksAvatar
{
  margin-right: 1vw;
  border-radius: 5px;
  width: 8vw;
  height: 8vw;
  min-width: 8vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.TaskInfo
{
  min-height: 8vw;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  color: black;
  text-align: left;
}
.TaskDescriptionMyTasks
{
    
    white-space: pre-line;
}
.NYtaskAdress
{
    font-weight: 500;
}
.NYtaskName
{
    border-top:1px solid;
    border-bottom:1px solid;
}
.LoaderContainer
{
  display:none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}
.LoaderDiv
{
  padding: 0vh 0vh;
  width: 95%;
  margin: auto;
  top: 45%;
  position: relative;
  border-radius: 7px;
  background-color: white;
}
.LoaderText
{
  user-select: none;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.LoaderImage
{
  width: 3vw;
}
.NYSearchFormRow
{
    justify-content: center;
    margin-bottom: 1vw;
}
.NYsearchButt
{
margin: 0 0.5vw;
}
@media screen and (max-width:1280px)
{
    .MainHeader
    {
        padding: 4px 6.5vw;
    }
    .TextDiv
    {
        padding: 0 6.5vw 0 6.5vw;
    }
    .Disclaimer
    {
        padding: 0.5vh 1vw;
        margin: 4vh 5.5vw;
    }
}
@media screen and (max-width:1024px)
{
    .MainHeader
    {
        padding: 4px 4.5vw;
    }
    .TextDiv
    {
        padding: 0 4.5vw 0 4.5vw;
    }
    .Disclaimer
    {
        padding: 0.5vh 1vw;
        margin: 4vh 3.5vw;
    }
    .LoaderImage
{
  width: 4vw;
}
}
@media screen and (max-width:800px)
{

  .MainHeader
  {
    font-size: 2.8vw;
    padding: 4px 8.5vw;
  }
  .TextDiv
    {
        font-size: 2.8vw;
        padding: 0 8.5vw 0 8.5vw;
    }
    .Disclaimer, .SubDisclaimer
    {
        font-size: 2.8vw;
        padding: 0.5vh 1vw;
        margin: 4vh 7.5vw;
    }

.UserMyTasksAvatar
{
  width: 20vw;
  height: 20vw;
  min-width: 19vw;
}
.NYTakeTaskButton {
    border-radius: 9px;
    min-width: 25vw;
    padding: 3vw 2vw;
    margin-bottom: 3vh;
  }
  .LoaderDiv
  {
    padding: 2vh 0vh;
  }
  .LoaderImage
  {
    width: 6vw;
  }
  .LoaderText
{
    margin-bottom: 0vh;
}

}
@media screen and (max-width:455px)
{
.MainHeader
{
  font-size: 3.8vw;
  padding: 4px 15.5vw;
}
  .TextDiv
  {
    font-size: 3.8vw;
    padding: 0 15.5vw 0 15.5vw;
  }
  .Disclaimer
  {
    font-size: 3.8vw;
      padding: 0.5vh 1vw;
      margin: 4vh 14.5vw;
  }

  .UserMyTasksAvatar
{
  min-width: 12vw;
  display: none;
}
.TaskInfo
{
  margin-right: 1vw;
}
.TaskDescriptionMyTasks
{
    max-height: 11vh;
    overflow:hidden;
    text-overflow: ellipsis;
}
.NYTakeTaskButton {
    margin-right: auto;
    padding: 3vw 2vw;
    margin: 1vw 0;
    min-width: 29vw;
  }
.LoaderText
{
font-size: 1rem;
padding: 0 1vw;
    margin-bottom: 1vh;
}
.LoaderImage
{
  width: 10vw;
}
.NYsearchButt
{
    width: 40%;
margin: 0.5vw 0.5vw
}
}

@media screen and (max-height:455px)
{
    .MainHeader
    {
      font-size: 3.8vh;
    padding: 4px 15.5vw;
    }
  .TextDiv 
  {
    font-size:  3.8vh;
    padding: 0 10.5vw 0 10.5vw;
  }
  .Disclaimer
  {
    font-size:  3.8vh;
      padding: 0.5vh 1vw;
      margin: 4vh 9.5vw;
  }
  .NYsearchButt
  {
  margin: 0 0.5vw
  }
}