.MainPanel
{
  min-height: 100%;
  width: 100%;
  background-color:white;
  position: relative;
  background-image: url('../../Images/TextPageBackgound.png');
  background-size: cover;
    
}
.MainHeader
{
  color: white;
    z-index: 1;
    background-color: rgba(255, 183, 187,1);
    width: 100%;
    padding: 4px 5.5vw;
    font-size: 1.4vw;
    text-align: left;
}
.TextDiv
{
  padding: 0 5.5vw 0 5.5vw;
    display: block;
   font-weight: 300;
   font-size: 1.4vw;
   text-align: left;
   color: black;
   user-select: none;
}
.TextHeader
{
  width: fit-content;
  height: auto;
  display: block;
  border:3px solid rgba(255, 183, 187,1);
  border-radius: 13px;
  margin: 4vh 0 2vh 0;
  padding: 0.5vh 0.5vw;
}
.TextList
{
    margin: 1vh 0 1vh 0;
    display: block;
   list-style-type: decimal;
   text-align: left;
}
.TextSubList
{
  list-style-type: circle;
}
.InTextLink
{
    background-color: rgba(255, 183, 187,1);
    border-radius: 13px;
    pointer-events: all;
    text-transform: uppercase;
    color: black;
}
.InTextLink:hover
{
  background-color: white;
  color: rgba(255, 102, 114, 1);
}
@media screen and (max-width:1280px)
{
    .MainHeader
    {
        padding: 4px 6.5vw;
    }
    .TextDiv
    {
        padding: 0 6.5vw 0 6.5vw;
    }
    .Disclaimer, .SubDisclaimer
    {
        padding: 0.5vh 1vw;
        margin: 4vh 5.5vw;
    }
}
@media screen and (max-width:1024px)
{
    .MainHeader
    {
        padding: 4px 4.5vw;
    }
    .TextDiv
    {
        padding: 0 4.5vw 0 4.5vw;
    }
}
@media screen and (max-width:800px)
{

  .MainHeader
  {
    font-size: 2.8vw;
    padding: 4px 8.5vw;
  }
  .TextDiv
    {
        font-size: 2.8vw;
        padding: 0 8.5vw 0 8.5vw;
    }
}
@media screen and (max-width:455px)
{
.MainHeader
{
  font-size: 3.8vw;
  padding: 4px 15.5vw;
}
  .TextDiv
  {
    font-size: 3.8vw;
    padding:0px 8.5vw 0 4.5vw;
  }
}

@media screen and (max-height:455px)
{
    .MainHeader
    {
      font-size: 3.8vh;
    padding: 4px 15.5vw;
    }
  .TextDiv 
  {
    font-size:  3.8vh;
    padding: 0 10.5vw 0 10.5vw;
  }
}