@model UserModal

@if (!String.IsNullOrEmpty(@Model.Message))
{
    var statusMessageClass = @Model.Header == "Error" ? "danger" : "success";
        <div class="alert alert-@statusMessageClass alert-dismissible ClientStatusMessage" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Model.Message
        </div>
}
