@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

    <h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Произошла какая-то ошибка. Мы с этим уже разбираемся.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

